<div class="wrapper">
<div class="container">
  <ya-map [center]="[55.99667409698044, 37.21556356087096]"
          [zoom]="18"
          (yaclick)="onMapClick($event)"
          (balloonclose)="onMapBalloonClose()"
  >
    <ya-placemark *ngFor="let placemark of placemarks"
                  [geometry]="placemark.geometry"
                  [properties]="placemark.properties"
                  [options]="placemark.options"
                  (balloonopen)="actionClick($event)"
                  (balloonclose)="chosenBalloon = null">
    </ya-placemark>
  </ya-map>
</div>
<div>
  <button [disabled]="!newBalloon" type="button" (click)="addPoint()">Add point</button>
  <button [disabled]="!chosenBalloon" type="button" (click)="deletePoint()">Delete point</button>
</div>
</div>
